@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    overflow-x: hidden;
    font-family: 'Open Sans' ;
}

.row {
    margin: 0 10px;
}

h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 2em;
    color: #212121;
}

.white-text {
    color: #FFFFFF;
}

.color-picker {
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: max-content;
}

.topic {
    background-color: rgba(241, 109, 22, 0.98);
    margin-bottom: 10px;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
    color: #212121;
}

.colorImg {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(0, 0, 0);
}

h3 {
    margin: auto;
    text-align: center;
    padding-top: 1em;
}

.red {
    background-image: linear-gradient(to left, red, #B20000, #870000, #490000);
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
}

.blue {
    background-image: linear-gradient(to left, blue, #0000B9, #000087, #000044);
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
}

.green {
    background-image: linear-gradient(to left, #00ff00, #00B200, #008800, #005200);
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
}

.margin-top {
    margin: 10px;
}

input[name='red'], input[name='blue'], input[name='green'] {
    width: 98%;
    cursor: pointer;
    margin-top: 4px;
}

.btn-toolbar {
    float: right;
    margin-bottom: 10px;
    display: inline-block;
}

.no-border-darius-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    left: -1px;
}

.no-border-darius-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.margin-bottom{
    margin-bottom: 15px;
}